.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./styles/background/See.jpg);
  background-size: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  height: 70%;
  background-color: rgb(242, 232, 216);
}
